<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160118329-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160118329-1');
    </script>
    <!-- Website properties -->
    <title>Matt Saunders | Design Develop Deploy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matt Saunders">
    <meta name="description" content="Matt Saunders is a full stack developer in Toronto, Canada who designs and build websites, backends and apps; and administer the systems that they run on.">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@math__eww" />
    <meta name="twitter:creator" content="@math__eww" />
    <meta name="twitter:title" content="Matt Saunders | Design Develop Deploy" />
    <meta name="twitter:description" content="Matt Saunders is a full stack developer in Toronto, Canada." />
    <meta name="twitter:image" content="https://www.mattsaunders.info/img/monogram.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.mattsaunders.info" />
    <meta property="og:title" content="Matt Saunders | Design Develop Deploy" />
    <meta property="og:description" content="Matt Saunders is a full stack developer in Toronto, Canada." />
    <meta property="og:image" content="https://www.mattsaunders.info/img/monogram.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"Matt Saunders","url":"https://mattsaunders.info","address":"","sameAs":["https://twitter.com/math__eww","https://www.linkedin.com/in/iammattsaunders/"]}</script>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=jwEbkawEJE">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=jwEbkawEJE">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=jwEbkawEJE">
    <link rel="manifest" href="/site.webmanifest?v=jwEbkawEJE">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=jwEbkawEJE" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=jwEbkawEJE">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/91e105252a.js" crossorigin="anonymous"></script>
    <!-- Custom -->
    <link rel="stylesheet" href="css/style.css">
</head>