<header id="top-bar" class="nav-top nav-fixed fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="/index.html">
                <span>
                    <img src="img/monogram-bg.svg" alt="Matt Saunders" id="monogram">
                    Matt Saunders
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fas fa-bars navbar-toggler-fa-icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/resume/MattSaunders.pdf">Resume</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="gradient gradient-1"></div>
    <div class="gradient gradient-2"></div>
    <div class="gradient gradient-3"></div>
    <div class="gradient gradient-4"></div>
</header>